aclocal.m4
autom4te.cache/*
compile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
py-compile
stamp-h1
Makefile.in
Makefile
.deps
.dirstamp
.libs
intltool-*
m4
gtk-doc.make
omf.make
xmldocs.make
wizbit/*.[ch]
wizbit/wizbit.vapi
wizbit-widgets/*.[ch]
wizbit-widgets/wizbit-widgets.vapi
tests/*.[ch]
src/*.[ch]
config.*
*.stamp
*.o
*.la
*.lo
*.pyc
*.pyo
.*.sw[pon]
*.bzr
*~
*.pc
